.outer--container {
    background-color: #9381ff;
}

.container {
    background-color: #f8f7ff;
    border-radius: 3px;
}


.video--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video {
    flex-basis: 20%;
    margin: 1em;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 250px !important;
    display: flex;
    text-align: center;
    background-color: #ffeedd;
    /* color: #343A40 */
}


.video--title {
    text-align: center;
    color: #9381ff;
    padding-top: 25px;
    padding-bottom: 25px;

}

.sorting {
    text-align: center;
    padding-bottom: 25px;
}


.btn {
    background: #9381ff !important;
    color: white !important;
    border-color: white !important;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
}

.card--header {
    padding: .75rem 1.25rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
    background-color: #343A40 !important;
}


.card--body {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card--button {
    justify-self: flex-end;
    margin-top: 10px;
}

.card--img {
    height: 120px;
    object-fit: cover;
}

