.outer--container {
    background-color: #9381ff;
}

.container {
    background-color: #f8f7ff;
    border-radius: 3px;
}

.content {
    padding-top: 50px;
}

.home--card {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/* .card--button {
    justify-self: flex-end;
    margin-top: 10px;
}  */

.home--img {
    /* width: 208px !important; */
    /* height: 156px !important; */
    width: 100% !important;
    object-fit: fill !important;
}

/* .img--fill {
    flex-grow: 2 !important;
} */

/* .video--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video {
    flex-basis: 20%;
    margin: 1em;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 250px !important;
    display: flex;
    text-align: center;
    background-color: #ffeedd;
    color: #343A40
} */